@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
table,
caption,
tbody, tfoot, thead,
tr, th, td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer, header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'BM JUA_TTF';
  vertical-align: baseline
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
  font-family: 'BM JUA_TTF';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu_root {
  text-align: center;
  margin: 15px 0;
}

.menuList span {
  font-family: 'BM JUA_TTF' ;
}

.sign_Root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_Root .sign_Frm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid #aaa;*/
  width: 960px;
  /*height: 900px;*/
  border-radius: 30px;
  margin: 80px 0;
  left: 40%;
  /*box-shadow: rgba(0, 0, 0, 0.65) 0 2px 20px;*/
}

.sign_Frm .sign_margin {
  margin-top: 50px;
}

.sign_margin .sign_sort {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.sign_margin .sort_root {
  width: 475px;
  height: 59px;
  display: flex;
  align-items: center;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
  padding: 0 24px 0 17px;
}

.sort_root .sort_field {
  width: 350px;
  height: 52px;
  border: 0;
  margin: 0 12px;
  padding: 1px 2px;
  outline: none;
}

.login_Btn_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 450px;
}

.login_Btn_Icon {
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 5px;
  width: 60px;
  height: 60px;
  background-color: #75c9ba;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.login_Text {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-top: 50px;
}